# =========================
# Backend
# =========================

venv/
.env
.env.prod

__pycache__/
*.py[cod]

*.db
.pytest_cache/
.mypy_cache/


# =========================
# Docker
# =========================

postgres_data/